*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    min-height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #060ab2;
}

.bord {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .2s;
}

.card:active {
    transform: scale(.97);
}

.card.flip {
    transform: rotateY(180deg);
}

.card-fface,
.card-bface {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: #1c7ccc;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.card-fface {
    transform: rotateY(180deg);
}